@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
